/* .mt-3 {
  position: absolute;
  top: 10px; 
  right: 10px;
} */

/* App.css */

.App {
  margin: 20px;
}

/* Styles for tab buttons */
.btn-primary {
  margin-right: 10px;
}

/* Styles for positioning tab buttons */
.mt-3 {
  position: absolute;
  top: 25px;
  right: 35px;
}

/* Styles for the popup dialog */
.dialog-content {
  padding: 60px;
}

/* Styles for the close button inside the dialog */
.dialog-close-button {
  margin-top: 40px;
}
